<div>
  <div class="card-title">
    <h3>Lanzamientos disponibles ({{launches.length}})</h3>
    <hr>
  </div>
  <div>
    <table *ngIf="launches.length !== 0">
      <tr class="header">
        <th class="column1">Lanzamiento</th>
        <th class="column2 clickable" (click)="sort()">
          Fecha {{ sortDesc ? '⬆️' : '⬇️' }}
        </th>
      </tr>
      <tr *ngFor="let launch of launches; let i = index" (click)="launchClicked(launch.id)" class="grid-row" [ngClass]="{'colored': i % 2 === 0}">
        <td class="
        column1">{{launch.name}}</td>
        <td class="column2">{{launch.isostart | date:'dd/MM/yyyy hh:mm'}}</td>
      </tr>
    </table>
  </div>

  <div *ngIf="launches.length === 0">
    No hay lanzamientos disponibles
  </div>
</div>